.navi .button {
    font-size: 15px;
    width: 90px;
    height: 22px;
}

::-webkit-scrollbar {
    display: none;
}

.infobar {
    display: none;
}

.navi * {
    transition: all;
}

.navi {
    left: .5em;
}

.navi .button {
    margin-bottom: .5em;
    border-radius: 1em;
    padding-left: .5em;
    padding-right: .5em !important;
    display: flex;
    justify-content: space-evenly;
}

.navi .button.active {
    width: 90%;
}

.navi .button.active:hover img {
    transform: rotate(95deg);
    transition: transform .5s;
}

.navi .button img {
    display: none;
    height: 20px;
    transform: rotate(57deg);
    transition: transform .5s;
}

.navi .button.active img {
    display: inline-block;
}
    

.detail {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: unset;
    bottom: 2em;
    background: transparent;
}

.detail.hide {
    right: unset;
    bottom: -600px;
}

.detail .outer {
    border-radius: 2em;
}

.detail .inner {
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
}

.detail .slidebutton {
    display: none;
}

.entry:last-of-type {
    margin-bottom: 0;
}

.entry h2 {
    margin: 0;
}

/* CONTENT STYLES */

.data-button {
    text-decoration: none;
    color: #000 !important;
    background: #ba9cc9;
    padding: .5em;
    margin-right: .3em;
    display: inline-block;
    margin-top: .3em;
}

.data-years {
    text-align: center;
    font-size: 130%;
}

.data-identifier {
    font-family: monospace;
}
